<p *ngIf="admin">
  You are in Admin Mode.
</p>

<select (change)="onChange($event.target.value)" class="form-control">
  <option value="allGenres">All Genres</option>
  <option value="comic">Comic</option>
  <option value="history">Historu</option>
  <option value="horror">Horro</option>
  <option value="comedy">Comedy</option>
  <option value="fantasy">Fantasy</option>
  <option value="trueCrime">True Crime</option>
  <option value="Sci-fi">Science Fiction</option>
  <option value="autobiography">Autobiography</option>
  <option value="other">Other</option>
</select>

<div *ngFor="let book of books | async | genre:filterByGenre" >
  <div>
    <div>
      <h1> {{book.name}}</h1>
      <h4>Artist: {{book.favBook}}</h4>
      <button (click)="clickDetails(book)">Details</button>
      <button *ngIf="admin" (click)="clickEdit(book)">Edit</button>
    </div>
  </div>
  <div>
    <div>
      <img src="{{book.url}}" alt="book art" class="bookImg" />
    </div>
  </div>
</div>
