<p *ngIf="admin">
  You are in Admin Mode.
</p>

<select (change)="onChange($event.target.value)" class="form-control">
  <option value="allGenres">All Genres</option>
  <option value="comic">Comic</option>
  <option value="history">History</option>
  <option value="horror">Horro</option>
  <option value="comedy">Comedy</option>
  <option value="fantasy">Fantasy</option>
  <option value="trueCrime">True Crime</option>
  <option value="Sci-fi">Science Fiction</option>
  <option value="autobiography">Autobiography</option>
  <option value="other">Other</option>
</select>

<div *ngFor="let book of books | async | genre:filterByGenre" >

  <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
    <div class="flip-card-inner">
      <div class="flip-card-inner-front">
        <span>Begin your book adventure.</span>
      </div>
      <div class="flip-card-inner-back">
        <h3 class="flip-card-inner-back-title">Read with {{book.name}}</h3>
        <p class="flip-card-inner-back-text">Favorite Book: {{book.favBook}}</p>
        <button (click)="clickDetails(book)">Details</button>
        <button *ngIf="admin" (click)="clickEdit(book)">Edit</button>
      </div>
      </div>
    </div>
  </div>
