<div class="form-style-5">
    <fieldset>
      <legend><span class="number">1</span>Edit {{selectedBook.name}}'s details.</legend>
      <input type="text"  [(ngModel)]="selectedBook.favBook" placeholder="Your Favorite Book *">
      <textarea   [(ngModel)]="selectedBook.description" placeholder="Book Description"></textarea>
      <textarea  [(ngModel)]="selectedBook.location" placeholder="Favourite location to read"></textarea>
      <button (click)="beginUpdatedBook(selectedBook)">Update</button>
      <hr>
      <button (click)="beginDeletingBook(selectedBook)">Delete</button>
    </fieldset>

<!-- <button (click)="beginUpdatedBook(selectedBook)">Update</button>
<hr>
<button (click)="beginDeletingBook(selectedBook)">Delete</button> -->
