
<div class="form-style-5">
  <form>
    <fieldset>
      <legend><span class="number">1</span> Candidate Info</legend>
      <input type="text" #name  placeholder="Your Name *">
      <input type="text" #favBook  placeholder="Your Favorite Book *">
      <textarea   #description placeholder="Book Description"></textarea>
      <label for="genre">Genre:</label>
      <select #genre id="genre" >
        <optgroup label="Indoors">
          <option #genre value="comic">Comic</option>
          <option  #genre value="history">History</option>
          <option #genre value="horror">Horro</option>
          <option #genre value="comedy">Comedy</option>
          <option #genre value="fantasy">Fantasy</option>
          <option #genre value="trueCrime">True Crime</option>
          <option #genre value="Sci-fi">Science Fiction</option>
          <option #genre value="autobiography">Autobiography</option>
          <option #genre value="other">Other</option>
        </optgroup>
      </select>
    </fieldset>
    <fieldset>
      <legend><span  class="number">2</span> Additional Info</legend>
      <textarea  #location placeholder="Favourite location to read"></textarea>
      <input type="text" #url  placeholder="Image Url ">
    </fieldset>


<button class="btn btn-warning" (click)='submit(name.value,favBook.value, description.value, genre.value,location.value, url.value)'>Submit</button>
    <a routerLink='/'><button  class="btn">Return Home</button></a>
  </form>
</div>
