
<div class="container">
  <div id="gradient"></div>
  <div id="card">
    <img src="{{(bookToDisplay | async)?.url}}"/>
    <h2>{{(bookToDisplay | async)?.name}}</h2>
    <p>Favorite book: <br> {{(bookToDisplay | async)?.favBook}} </p>
    <p>Favourite Book Description: <br> {{(bookToDisplay | async)?.description}}</p>
    <p>Genre: <br> {{(bookToDisplay | async)?.genre}}</p>
    <p>Favorite reading location: <br> {{(bookToDisplay | async)?.location}}</p>
  </div>

    <!-- <app-edit-book [selectedBook]="book"></app-edit-book> -->
</div>
